body{
    background-color: #F6F6F6;
}

.btn-bg{
    background-color: #5D5FEF;
}

.date{
    color: #718797;
}

.bg-color{
    background: #5D5FEF;
}

.portal{
    color:#5D5FEF ;
}

.mouse{
    cursor: pointer;
}